.navigation {
    z-index: 2;
}
.part {
    z-index: 2;
}
.navi_option {
    z-index: 2;
}
.part_menu {
    z-index: 1;
}
.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
